@model LoginUserViewModel

<form asp-action="Login" method="post">
    <div class="form-group mb-3 mt-5">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control w-50" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control w-50" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group form-check mb-3">
        <input asp-for="RememberMe" class="form-check-input" />
        <label asp-for="RememberMe" class="form-check-label"></label>
    </div>
    <div class="form-group mb-3">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="form-group " >
        <a asp-action="Register" asp-controller="Account" class="me-3">Register</a>
        <a asp-action="Index" asp-controller="Home">Back To List</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}